.text {
    color: #C4CACF;
}
.text-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.celebrity-check-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7E9181;
  border-radius: 1em;
  width: 35vw;
}
.celeb-text {
  margin: 10px 0 0 0;
  font-weight: bold;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    border-radius: 1em;
    padding: 25px 25px;
    background-color: #7E9181;
}
.switch-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 0;

}
.switch-container p{
  margin: 0;
}
.form-group {
  width: 100%;
}
.form-check-input {
  border-color: #2E3532;
  box-shadow: 0 0 0 0.2rem #2e353268 !important;
  
}

.form-check-input:checked, .form-check-input:focus {
  background-color: #2E3532;
  border-color: #2E3532;
  box-shadow: 0 0 0 0.2rem #2e353268 !important;
}

.focus:focus {
    border-color: #7E9181;
    box-shadow: 0 0 0 0.2rem #7e91817d;
}


.btn-custom {
  background-color: inherit; 
  color: #2E3532; 
  border: 2px solid #2E3532;
  margin-left: 5px;
  margin-right: 5px;
}
  
.btn-custom:hover {
  background-color: #2E3532;
  color: #C4CACF;
}

.buttons {
  display: flex;
}


@media (max-width: 1250px) {
  .input-container {
    width: 65vw;
    padding: 20px 25px;
  }
  .celebrity-check-container {
   
    width: 65vw;
  }
  
}
@media (max-width: 850px) {
  .input-container {
    flex-direction: column;
    width: 85vw;
    padding: 10px 25px;
  }
  .focus {
    margin: 5px;
  }
  .celebrity-check-container {
   
    width: 85vw;
  }
}