.text {
    color: #C4CACF;
}
.text-container {
  margin: 10px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    /* Delete the below code to get rid of the background for the input box */
    border-radius: 1em;
    padding: 50px 25px;
    background-color: #7E9181;
}

.focus:focus {
    border-color: #7E9181;
    box-shadow: 0 0 0 0.2rem #7e91817d;
}


.btn-custom {
  background-color: inherit; 
  color: #2E3532; 
  border: 2px solid #2E3532;
  margin-left: 5px;
  margin-right: 5px;
}
  
.btn-custom:hover {
  background-color: #2E3532;
  color: #C4CACF;
}

.buttons {
  display: flex;
}
  
@media (max-width: 850px) {
  .input-container {
    flex-direction: column;
    width: 85vw;
  }
  .focus {
    margin: 5px;
  }
  
}