.logo {
    height: 100px;
    width: 100px;
    background-color: #7E9181;
    margin: 25px 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
img{
    margin: 0 !important;
}

@media (max-width: 450px) {
    .logo {
        height: 75px;
        width: 75px;
        margin: 10px 15px;
    }
}