.nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.title {
    color: #C4CACF;
    font-size: 48px;
}

.sign-out {
    color: #C4CACF !important;
    margin-right: 25px; 
}

.hide {
    visibility: hidden;
}

@media (max-width: 768px) {
    .title {
        font-size: 36px; 
    }
    
}

@media (max-width: 450px) {
    .sign-out {
        font-size: 16px !important;
        margin-right: 10px;
    }
}